{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block main %}
    <h1>Welcome to Finler</h1>
    <h2>Recently viewed:</h2>
    <table class="table table-striped table-hover table-large">
        <caption>CS50 Final Project</caption>
        <thead>
            <th>ID</th>
            <th>Company</th>
            <th>Last Sentiment</th>
            <th>Date/Time</th>
        </thead>
        <tbody class="table-group-divider">
            <div class="text-black-50">
                {% for info in infos %}
                    {% if info[2]=='Positive' %}
                        <tr class="table-success">
                    {% elif info[2]=='Negative' %}
                        <tr class="table-danger">
                    {% else %}
                        <tr class="table-warning">
                    {% endif %}
                        
                        <td style="height: 50px;">{{ info[0] }}</td>
                        <td style="height: 50px;">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                            href="/search?search={{ info[1] }}">{{ info[1] }}</a></td>
                        <td style="height: 50px;">{{ info[2] }}</td>
                        <td style="height: 50px;">{{ info[3] }}/{{ info[4] }}</td>
                        </a>
                    </tr>
                {% endfor %}
            </div>    
        </tbody>
    </table>
{% endblock %}